<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Angular component - slides/presentation">
    <meta name="author" content="Krol22">
    <title>ngSlides</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="ngSlides.css"/>
</head>

<body ng-app="slidesDemo">
    <main class="container" ng-controller="demoController">
        <section class="row">
            <div class="ng-directive" ng-slides="config" ng-slides-api="testApi">
                <ng-slide class="title-slide">
                    <div class="title"> Ng-slides </div>
                    <div class="sub-title"> Angular 1.6 module for presentations </div>
                </ng-slide>
                <ng-slide class="content-slide">
                    <div class="title">Supported animations</div>
                    <div class="content">
                         <ul>
                             <li>fade</li>
                             <li>slideLeft</li>
                             <li>slideRight</li>
                             <li>slideDown</li>
                             <li>slideUp</li>
                             <li>cascade</li>
                             <li>custom slides</li>
                         </ul>
                     </div>
                </ng-slide>
                <ng-slide class="content-slide">
                    <div class="title">Custom animations (1.)</div>
                    <div class="content">Create animation object
                        <pre>
                            animationName : {
                                animationEnter : {
                                    transitions: [
                                      { css: 'opacity 0.9s ease-in-out', from: 0, to: 1 },
                                    ]
                                },
                                animationLeave : {
                                    transitions: [
                                      { css: 'opacity 0.9s ease-in-out', from: 1, to: 0 },
                                    ]
                                }
                            }
                        </pre>
                    </div>
                </ng-slide>
                <ng-slide class="content-slide">
                    <div class="title">Custom animations (2.)</div>
                    <div class="content">Then set this animation as current animation
                        <pre>let currentAnimation = 'animationName';</pre>
                    </div>
                </ng-slide>
                <ng-slide class="slide title-slide">
                     <div class="sub-title">There are some basic theme classes for your slides</div>
                </ng-slide>
                <ng-slide class="slide title-slide">
                     <div class="title bordered">.title-slide .title</div>
                     <div class="sub-title bordered">.sub-title</div>
                </ng-slide>
                <ng-slide class="slide content-slide">
                     <div class="title bordered">.content-slide .title</div>
                     <div class="content bordered max-height">.content</div>
                </ng-slide>
                <ng-slide class="slide two-columns-slide">
                    <div class="title bordered">.two-columns-slide</div>
                    <div class="col-1 bordered max-height">.col-1</div>
                    <div class="col-2 bordered max-height">.col-2</div>
                </ng-slide>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 buttons">
                <button class="btn btn-default" ng-click="toogleToolbar()"> Toggle bar </button>
                <button class="btn btn-default" ng-click="testApi.toggleAutohide()"> Toggle autohide </button>
                <button class="btn btn-default" ng-click="testApi.prevSlide()"> Previous slide </button>
                <button class="btn btn-default" ng-click="testApi.fullscreen()"> Full screen </button>
                <button class="btn btn-default" ng-click="testApi.play()"> Play </button>
                <button class="btn btn-default" ng-click="testApi.pause()"> Pause </button>
                <button class="btn btn-default" ng-click="testApi.loop()"> Loop </button>
                <button class="btn btn-default" ng-click="testApi.nextSlide()"> Next slide </button>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 form-inline buttons">
                <div class="form-group">
                    <input class="form-control" type="number" ng-model="slideNumber" min="0" max="7"/>
                    <button class="btn btn-default" ng-click="selectSlide()"> Change slide! </button>
                </div>
            </div>
        </section>

        <section class="row">
            <h4>More documentation on <a href="https://github.com/krol22/ngSlides"> GitHub </a> page </h4>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="ngSlides.js"></script>
    <script src="demo/main.js"></script>
</body>

</html>
