@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', monospace;
}

html,
body {
    min-height: 100%;
}

section {
    margin: 20px auto;
}

button {
    min-width: 130px;
}

pre {
  margin-top: 20px;
  padding: 20px 10px;
  font-size: 0.8em;
  border: 1px solid black;
  background-color: white;
  overflow: auto;
}

.buttons {
    text-align: center;
}

.ng-slides-directive-fullscreen {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
}
.ng-directive {
  position: relative;
  background-color: #ddd;
  overflow: hidden;
  height: 500px;
}
.ng-slides {
  height: 100%;
  width: 100%;
}
.ng-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.ng-slide-buttons {
    transition: .5s bottom ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
    text-align: center;
    user-select: none;
    padding-top: 70px;
}

.ng-slide-buttons-hidden {
    bottom: -50px;
}


.ng-slide-button {
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  margin: 0 30px;
}

.ng-slide-button-active {
  color: #666;
}

.ng-slide-button:active {
  color: #666;
}

.ng-slide-button-play {
  display: none;
}

.title-slide {
  width: 80%;
  margin: 10%;
  text-align: center;
}
.title-slide .title {
  padding: 20px;
  margin-top: 200px;
  font-size: 5em;
  color: #7E57C2;
}
.title-slide .sub-title {
  margin-top: 10px;
  padding: 20px;
  font-size: 2em;
}

.content-slide {
  margin: 2%;
  width: 96%;
}
.content-slide .title {
  padding: 10px;
  font-size: 3em;
}
.content-slide .content {
  margin-top: 10px;
  padding: 10px;
  font-size: 2em;
}

.two-columns-slide {
  margin: 2%;
  width: 96%;
}
.two-columns-slide .title {
  padding: 10px;
  font-size: 3em;
  margin-bottom: 10px;
}
.two-columns-slide .col-1 {
  padding: 10px;
  float: left;
  font-size: 1.5em;
  width: 46%;
}
.two-columns-slide .col-2 {
  padding: 10px;
  float: right;
  font-size: 1.5em;
  width: 46%;
}

.author {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.bordered {
  border: 1px solid black;
}

.max-height {
  height: 70%;
}

